*{

box-sizing:border-box;

}


body{

margin:0;

font-family:

Arial,
"맑은 고딕";

background:#fff;

color:#111;

}




header{


display:flex;

justify-content:space-between;

align-items:center;

padding:25px 60px;

border-bottom:1px solid #ddd;

}



header h1{

font-size:32px;

letter-spacing:5px;

}



nav a{

margin:0 15px;

text-decoration:none;

color:#111;

font-weight:bold;

}



#cart-count{

margin-left:30px;

}





.banner{


height:350px;

background:#111;

color:white;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;


}



.banner h2{


font-size:45px;

}





.products{


display:flex;

gap:30px;

padding:50px;

justify-content:center;


}



.card{


width:280px;

border:1px solid #eee;

padding:20px;


}



.card img{


width:100%;

height:300px;

object-fit:cover;


}



.card button{


width:100%;

padding:15px;

background:#111;

color:white;

border:none;

cursor:pointer;


}





.cart{


padding:50px;

border-top:1px solid #ddd;

}


