<!DOCTYPE html>
<html>

<head>

<title>MUSINSA</title>

<link rel="stylesheet"
href="/static/css/style.css">

</head>


<body>


<header>

<h1>
MUSINSA
</h1>


<nav>

<a href="/">
HOME
</a>

<a href="/shop">
SHOP
</a>

<a href="/event">
EVENT
</a>

<a href="/about">
ABOUT
</a>

<a href="/cart">
CART
</a>

</nav>


</header>



<section class="main-banner">


<h2>
NEW FASHION
</h2>


<p>
MUSINSA STYLE STORE
</p>


</section>




<section>


<h2 class="title">
BEST PRODUCT
</h2>



<div class="products">


<div class="card">

<img src="https://images.unsplash.com/photo-1521572163474-6864f9cf17ab">


<h3>
BLACK T-SHIRT
</h3>


<p>
29,000원
</p>


<button onclick="addCart('BLACK T-SHIRT',29000)">
구매하기
</button>


</div>




<div class="card">


<img src="https://images.unsplash.com/photo-1525507119028-ed4c629a60a3">


<h3>
DENIM PANTS
</h3>


<p>
49,000원
</p>


<button onclick="addCart('DENIM PANTS',49000)">
구매하기
</button>


</div>


</div>


</section>




<script src="/static/js/app.js"></script>


</body>

</html>
