<!DOCTYPE html>
<html>

<head>

<link rel="stylesheet"
href="/static/css/style.css">

</head>


<body>


<header>

<h1>
MUSINSA
</h1>


<nav>

<a href="/">HOME</a>
<a href="/shop">SHOP</a>
<a href="/event">EVENT</a>
<a href="/about">ABOUT</a>
<a href="/cart">CART</a>


</nav>

</header>




<h2 class="title">
SHOP
</h2>


<div class="products">


<div class="card">

<h3>
HOODIE
</h3>

<p>
59,000원
</p>

<button onclick="addCart('HOODIE',59000)">
담기
</button>


</div>



<div class="card">

<h3>
JACKET
</h3>

<p>
89,000원
</p>

<button onclick="addCart('JACKET',89000)">
담기
</button>


</div>


</div>



<script src="/static/js/app.js"></script>


</body>


</html>
